.ad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.ad__header {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.ad img {
    width: 15rem;
    height: 15rem;
}